.questionContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  gap: 2rem;

  h2 {
    text-align: center;
  }

  .groupCheck {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    .groupCheckIndividual {
      display: flex;
      justify-content: start;
      gap: 1rem;

      p {
        margin: 0;
        padding: 0;
      }
    }

  }
}