.one-test-admin {
  background-color: rgb(250, 252, 254);
  min-height: 100dvh;

  .ot-cont {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .test {
    padding: 2rem;
    background-color: white;
    border: 1px solid rgb(231, 235, 242);
    border-radius: .5rem;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    img {
      width: 5rem;
    }
  }

  .white-box {
    background-color: white;
    border: 1px solid rgb(231, 235, 242);
    border-radius: .5rem;
    padding: 2rem;

    .data-box {
      background-color: rgb(240, 240, 240);
      border-radius: .5rem;
    }

    .mytabs {
      display: flex;
      width: 100%;

      .nav-item {
        flex: 1;
      }

      .nav-link {
        width: 100%;
        text-align: center;
      }
    }

    .mytab {
      padding-inline: 1.5rem;
      padding-bottom: 1rem;
    }
  }

  .companies {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .company-box {
      background-color: white;
      border: 1px solid rgb(231, 235, 242);
      border-radius: .5rem;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .graphics-box {
    background-color: white;
    border: 1px solid rgb(231, 235, 242);
    border-radius: .5rem;
    padding: 1rem;
  }

  .myLink {
    text-decoration: none;
  }
}