.profileContainer {
  padding: 3rem;

  .profile {
    background-color: white;
    border: 1px solid rgb(221, 224, 230);
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;


    .ranking {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .data {
        min-width: 20rem;
      }

      .position {
        background-color: rgb(25, 43, 72);
        color: white;
        font-size: larger;
        padding: 0.5rem;
        text-align: center;
        border-radius: 20rem;
      }
    }
  }

  .testscont {
    background-color: white;
    border: 1px solid rgb(221, 224, 230);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    img {
      width: 4rem;
    }


    .testdata {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      width: 20rem;
    }

    .name p {
      margin: 0;
    }

    .button {
      height: 3rem;
    }

    .progressbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }

}