.edit-profile-container {
    background-color: var(--bg);
    min-height: 100vh;
    margin-left: 20px;
    width: calc(100% - 20px);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 2.5rem;
    border: 1px solid #edf2f7;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.form-card label {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1rem;
}

.title-form {
    font-size: 1.2rem;
    font-weight: 600;
    color: #475569;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.btn-footer {
    display: flex;
    justify-content: end;
}

/* Estilo check boxes */

.checkbox-container {
    margin-top: 2rem;
    padding: 10px;
}

.checkbox-group {
    background-color: #f8fafc;
    border: 1px solid #e2e8f0;
    padding: 20px;
    border-radius: 12px;
    height: 100%;
}

.checkbox-title {
    font-weight: 700;
    font-size: 1rem;
    color: #475569;
    margin-bottom: 12px;
    display: block;
    text-transform: uppercase;
}

