* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* 
.btn-green {
  background-color: rgb(0, 212, 126);
  border: none;

  &:hover {
    background-color: rgb(193, 242, 222);
    color: rgb(0, 212, 126);
  }
}
*/