.header-public {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 252, 254);
  height: 20dvh;
  padding: 3rem;

  img {
    width: 25rem;
  }

  .buttons-cont {
    display: flex;
    gap: 0.5rem;
  }




}