/* ESTILOS DE BOTÓN */
.btn-green {
  background-color: rgb(0, 212, 126) !important;
  border: none !important;

  &:hover {
    background-color: rgb(193, 242, 222) !important;
    color: rgb(0, 212, 126) !important;
  }
}

.btn-white {
  background-color: rgb(255, 255, 255) !important;
  border: none !important;
  color: black !important;

  &:hover {
    background-color: rgb(188, 188, 188) !important;
  }
}

.btn-blue {
  background-color: rgb(68, 126, 247) !important;

  &:hover {
    background-color: rgb(38, 75, 151) !important;
  }
}

.btn-red {
  background-color: rgb(220, 53, 69) !important;
  border: none !important;

  &:hover {
    background-color: rgb(143, 36, 46) !important;
  }
}