.card-test {

  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #E5E7EA;
  padding: 2rem;
  border-radius: .5rem;
  gap: 2rem;

  .image-title {

    display: flex;
    gap: 1rem;

    img {
      width: 90px;
    }

    .odsTitle {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .resultsBar {
    display: flex;
    flex-direction: column;
    align-items: end;

    .progressBar {
      height: 20px;
      width: 100%;
      border-radius: 2rem;
      background-color: #E5E7EA;
    }
  }

  .btnTest {
    text-align: center;
  }
}