.layoutAdminPublic>* {
  min-width: 20rem;
}

.layoutAdminPublic {
  height: 100dvh;
}

.layoutAdminPublic main {
  background-color: rgb(250, 252, 254);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-left: 3rem;
}

@media (width >=821px) {
  .layoutAdminPublic {
    display: grid;
    grid-template-columns: 16rem auto;
  }

  .mobile {
    display: none;
  }
}

@media (width <=820px) {
  .layoutAdminPublic {
    grid-template-columns: 1fr;
    grid-template-rows: 2rem auto;

    main {
      padding-top: 6rem;
    }
  }

  .mobile {
    position: relative;
    z-index: 1000;
  }

  .desktop {
    display: none;
  }
}