.layoutAdminPublic>* {
  min-width: 20rem;
}

@media (width >=601px) {
  .layoutAdminPublic {
    display: grid;
    grid-template-columns: 16rem auto;
  }

  main {
    padding-left: 3rem;
  }

  .mobile {
    display: none;
  }
}

@media (width <=600px) {
  .layoutAdminPublic {
    grid-template-columns: 1fr;
    grid-template-rows: 2rem auto;

    main {
      padding-top: 6rem;
    }
  }

  .desktop {
    display: none;
  }
}