.layoutAdminPublic>* {
  min-width: 20rem;
}

.layoutAdminPublic {
  height: 100dvh;
}

.layoutAdminPublic main {
  background-color: rgb(250, 252, 254);
}

@media (width >=601px) {
  .layoutAdminPublic {
    display: grid;
    grid-template-columns: 16rem auto;
  }

  main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-left: 3rem;
  }

  .mobile {
    display: none;
  }
}

@media (width <=600px) {
  .layoutAdminPublic {
    grid-template-columns: 1fr;
    grid-template-rows: 2rem auto;

    main {
      padding-top: 6rem;
    }
  }

  .desktop {
    display: none;
  }
}