@media (min-width: 1100px) {
  .userTests {
    padding: 3rem;
  }
}

.userTests>div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media (width < 1650px) {
  .userTests>div {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (width < 1100px) {
  .userTests>div {
    grid-template-columns: 1fr;
    padding-block: 2rem;
  }
}