
.oneTest {

  .newTest {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    img {
      width: 250px;
    }

    .btnOneTest {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }

  }

  .historicTestContainer {

    background-color: white;
    display: flex;
    justify-content: center;

    
  }

}