.oneTest {
  padding: 1.5rem;

  .newTest {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    img {
      width: 220px;
    }

    .btnOneTest {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }

  }

  .historicTestContainer {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border: 1px solid rgb(231, 235, 242);
    border-radius: .5rem;
    background-color: white;
    display: flex;
    justify-content: center;
  }

}