:root {
    --padding-fontsize: 1rem;
  }

  @media (min-width: 450px) {
    .form-card {
      display: flex;
      /* max-width: 40rem; */

    }
  }

@media (max-width: 450px) {
  .title-form {
    padding-top: 2rem;
  }
  
  .form-section {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .form-card  {
    display: flex;
    justify-content: center;
    max-width: 20rem;
  }

  h3 {
    font-size: 1.2rem;
    text-align: center;
  }

  label {
    text-align: center;
  }


  
  .btnform {
    margin-top: 1rem;
  }
  
  .checkbox-container {
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 18rem;
  }
  
  .checkbox-item {
    font-size: 0.9rem;
  }
}

@media (width > 1000px) {
  .form-card {
    width: 50rem;
  }
}

@media (width < 1100px) {
  .form-card {
    width: 40rem;
  }
}


.register-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .form-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    
  }
  
  .form-card {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding-block: 2.5rem;
    border: 1px solid hsl(210, 38%, 95%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    font-size: var(--padding-fontsize);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;



    
    
    .myinput {
      border-radius: 0.5rem;
      width: 60%;
      padding: 0.2rem;
      margin-inline-start: var(--padding-fontsize);
    }
  }
  


  .title-form {
    font-size: clamp(1.9rem, 3vw, 2.5rem);
    font-weight: 600;
    color: #475569;
    padding-block: 1.5rem;
    
  }

  .btnform {
    padding: var(--padding-fontsize);
    display: flex;
    justify-content: center;
    gap: 2rem;
    
  }

  /* Estilo check boxes */
  .checkbox-container {
    padding: 0.5rem;
    background-color: #F8FAFC;
    border: 1px solid #E2E8F0;
    border-radius: 0.5rem;
    

    .checkbox-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      line-height: 1.5rem;
      padding: 1rem;
      
    }

    .checkbox-item {
      gap: 0.5rem;
      padding: 0.2rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      
    }
  }

  .red {
    color: red;
  }
};