.header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: #1a1a2e;
}
 
.accordion-button:not(.collapsed) {
  background-color: rgba(35, 41, 35, 0.134);
  color: inherit;
  box-shadow: none;
}
 
.accordion-button:focus {
  box-shadow: none;
  border-color: transparent;
}
 
.myLink {
  text-decoration: none;
}
 
.card-accordion {
 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}