.header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: #1a1a2e;
}

.card {
 width: 100%; 
  max-width: 100%;
  overflow: hidden;
  display: flex;
  gap: 10px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  flex-wrap: wrap; 
  
}