.accordCC {

  .info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: fit-content;

    .info1 {
      min-width: 15rem;
    }

    .info2 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  @media (width <600px) {
    .info {
      justify-content: center;
    }
  }

  .accordion-button:not(.collapsed) {
    background-color: rgba(35, 41, 35, 0.134);
    color: inherit;
    box-shadow: none;
  }

  .accordion-button:focus {
    box-shadow: none;
    border-color: transparent;
  }

  .myLink {
    text-decoration: none;
  }
}