.historyTestList {
  background-color: #1C2534;
  display: flex;
  flex-direction: column;

  padding: 1rem 4rem;
  gap: 1rem;
  border-radius: .5rem;
  width: 80%;

  .historyTestCard {
    background-color: white;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem;
    align-items: center;
    border-radius: .5rem;
    padding: .5rem;

    p {
      margin: 0;
      padding: 0;
    }
  }

}