.historyTestList {

  background-color: #1C2534;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 1rem;
  border-radius: .5rem;
  width: 80%;

  .historyTestCard {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    border-radius: .5rem;
    padding: .5rem;

    p {
      margin: 0;
      padding: 0;
    }
  }

}