@media (max-width: 450px) {
  .historyTestList {
    display: flex;
    padding-inline: 1rem;
    padding-block: 2rem;
  }
}

@media (min-width: 450px) {
  .historyTestList {
    padding: 1rem 4rem;
  }
}



.historyTestList {
  background-color: #1C2534;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: .5rem;
  width: 100%;
  min-width: 15rem;

  .historyTestCard {
    background-color: white;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    align-items: center;
    border-radius: .5rem;
    padding: .5rem;
    min-width: 10rem;

    p {
      margin: 0;
      padding: 0;
    }

    .NC {
      width: 7rem;
      text-align: center;
    }

    .NCbutton {
      width: 6rem;
    }
  }


  @media (width < 1050px) {
    .historyTestCard {
      display: flex;
      flex-direction: column;
    }
  }
}