.historyTestList {
  background-color: #1C2534;
  display: flex;
  flex-direction: column;

  padding: 1rem 4rem;
  gap: 1rem;
  border-radius: .5rem;
  width: 80%;

  .historyTestCard {
    background-color: white;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    align-items: center;
    border-radius: .5rem;
    padding: .5rem;
    min-width: 10rem;

    p {
      margin: 0;
      padding: 0;
    }

    .NC {
      width: 7rem;
      text-align: center;
    }

    .NCbutton {
      width: 6rem;
    }
  }


  @media (width < 1050px) {
    .historyTestCard {
      display: flex;
      flex-direction: column;
    }
  }
}