.login-container {
  padding: 2rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  background-color: white;
  max-width: 40rem;

  h1 {
    padding-bottom: 2rem;
  }
}

.error-alert {
  font-size: 12px;
  color: red;
}

@media (width > 500px) {
  .login-container {
    width: 30rem;
  }
}

@media (width < 500px) {
  .login-container {
    padding: 1.5rem;
  }
}