.res-pass-page {
  height: calc(100vh - 393px);
  display: flex;
  justify-content: center;
  padding: 2rem;
  .res-pass-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 2rem;
  }
}

