.register-container {
  padding: 2rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  background-color: white;
  width: 40rem;

  h1 {
    padding-bottom: 2rem;
  }
}
.error-alert {
  font-size: 12px;
  color: red;
}

.reset-pass-link {
  width: 40rem;
  display: flex;
  padding: 1rem;
  .rpl {
    text-decoration: none;
  }
}