.register-container {
  padding: 2rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  background-color: white;
  width: 100%;

  h1 {
    padding-bottom: 2rem;
  }
}

.error-alert {
  font-size: 12px;
  color: red;
}

.reset-pass-link {
  display: flex;
  padding: 1rem;

  .rpl {
    text-decoration: none;
  }
}

@media (max-width: 650px) {
  .register-container,
  .reset-pass-link {
    max-width: 20rem;
    padding: 1rem;
  }
}