:root {
  --border: 1px solid rgb(231, 235, 242);
  --background-color: #fff;
  --border-radius: 0.5rem;
  --padding-block-name: 2rem;
  --padding-block: 1.5rem;
  --font-size-name: 3.2rem;
}

@media (max-width: 1100px) {
  .company_name_div {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }
}

.button {
  max-width: 50rem;
}


.company_name_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-block-name);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.company_name {
  font-size: var(--font-size-name);
}

.person_info {
  padding: var(--padding-block);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.company_info {
  padding: var(--padding-block);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

