.search {
  display: flex;
  gap: 10px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  flex-wrap: wrap; 
  align-items: center;
}

.input,
.select {
  padding: 12px;
  font-size: 15px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  flex: 1;
  min-width: 250px;
}

.card {
  width: 100%; 
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
 
}

.no-results {
  background-color: #f8f9fa;
  border-radius: 8px;
  border: 2px dashed #ccc;
  margin-top: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.no-results h4 {
  color: #6c757d;
  font-weight: 400;
}