/* .btn-green {
  background-color: rgb(0, 212, 126);
  border: none;

  &:hover {
    background-color: rgb(193, 242, 222);
    color: rgb(0, 212, 126);
  }
} */

.contact-container {
  padding: 2rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  background-color: white;
  width: 40rem;

  h1 {
    padding-bottom: 2rem;
  }
}