.contact-container {
  padding: 2rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  background-color: white;
  max-width: 40rem;

  h1 {
    padding-bottom: 2rem;
  }
}

.red {
  color: red;
}

@media (width >=501px) {
  .contact-container {
    min-width: 40rem;
  }
}

@media (width < 500px) {
  .contact-container {
    padding: 1.5rem;
  }
}