.homepage {
  min-height: 70dvh;
  padding: 3rem;
  background-color: rgb(250, 252, 254);
  font-size: larger;
  text-align: center;

  .section1 {
    align-items: center;
    max-width: 60rem;
    text-align: center;
    margin: 0 auto;
  }

  section {
    padding: 2rem;
  }

  .card-unique {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(204, 204, 204);
    width: 20rem;
    height: 30rem;
    border-radius: 1rem;
    padding: 1rem;

    img {
      height: 13rem;
      border-radius: 2rem;
      padding-bottom: 1rem;
    }

    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
      box-shadow: 0 0 10px rgb(0, 109, 65);
    }
  }

  .collab {
    margin-left: -50px;
    margin-right: -50px;
    height: 20rem;
    background-image: url("/src/assets/Images/forHome/lineBg.svg");
    background-size: cover;
    background-position: center;
  }

  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    img {
      width: 18rem;
    }
  }

  .recon {
    padding-top: 3rem;
    margin-left: -50px;
    margin-right: -50px;
    height: 30rem;
    background-image: url("/src/assets/Images/forHome/lineBg2.svg");
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;

    .logos2 {
      display: flex;     
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 2rem;

      .santander {
        width: 13rem;
      }

      img {
        height: 5rem;
      }
    }
  }

  .section-register {
    min-height: 50dvh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .first-text {
      max-width: 40rem;
      padding-top: 2rem;
      padding-bottom: 3rem;
    }
  }

  .section-contact {
    height: 70dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-5 {
    display: flex;
    justify-content: center;

    .col1 {
      min-width: 30rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .mini-section {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        height: 5rem;
      }
    }

    .graphic {
      display: flex;
      justify-content: center;

      img {
        max-width: 40rem;
        min-width: 35rem;
      }
    }
  }

  .section-6 {
    color: white;
    margin-left: -50px;
    margin-right: -50px;
    background-color: rgb(16, 40, 48);
    background-image:
      repeating-linear-gradient(120deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px),
      repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px),
      linear-gradient(60deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)),
      linear-gradient(120deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
    background-size: 70px 120px;

    img {
      max-width: 30rem;
    }

    .col2 {
      padding-right: 2rem;
      min-width: 30rem;
      line-height: 2.2rem;
    }
  }

}