.recharts-legend-item-text{
  font-size: 1.5rem;
}



.chart-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding-block: 2rem;
  padding-inline: 2rem;
  
}

@media (min-width: 1100px) {
  .chart {
    height: 400px;
    width: 700px;
  }
}


@media (max-width: 450px) {
  .chart {
  
    width: 360px;
  }


}
