
.test-card {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
  border: 1px solid #EDF2F7;
}


.test-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 2.5rem;
}


.company-name .test-name {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #222;
}





.test-image img {
  width: 5rem;
  object-fit: contain;
}


.myLink {
  color: #198754;
  font-weight: 700;
  text-decoration: none;
}

/* responsive */
@media (max-width: 768px) {
  .test-card {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 0.75rem;
    /* justify-content: space-between; */
  }

  .test-image {
    align-self: flex-end;
  }

  .company_div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .test_div {
    display: flex;
  }


}

@media (min-width: 1100px) {

  .test-card {
    margin-left: 2.2rem; 
    margin-right: 2.2rem;
    display: flex;
    flex-direction: column;
  }

  .company_div {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 1rem;
}

.test_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

}