.oneQuestionPages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;

  .progress-bar {
    .progress-bar-container {
      height: 20px;
      border-radius: 2rem;
      width: 70%;

      .progress-bar-result {
        background-color: #2C9947;
      }
    }
  }

  .test-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    img {
      width: 6rem;
      border-radius: 1rem;
    }
  }

  .questionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-class {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  @media (width < 700px) {
    .btn-class {
      display: flex;
      flex-direction: column;
      max-width: 15rem;
    }
  }
}